$secondary-text-color: rgba(0,0,0,.54);
$divider-text-color: rgba(0,0,0,.12);

$white-text-color: rgba(255,255,255,1);
$white-secondary-text-color: rgba(255,255,255,.7);

$primary-color: #3F51B5;
$secondary-color: #303F9F;

$accent-color-1: #a63db8;
$accent-color-2: #4d5bb3;
$accent-color-3: #1aa094;
$accent-color-4: #283593;

$success: #388E3C;//green700
$danger: #F44336; //red 500

.success{ color: $success;}
.danger{ color: $danger;}



@import 'node_modules/fh-wfm-workorder/sass/workorder.scss';
@import 'node_modules/fh-wfm-workflow/sass/workflow.scss';
@import 'node_modules/fh-wfm-risk-assessment/sass/risk-assessment.scss';
@import 'node_modules/fh-wfm-vehicle-inspection/sass/vehicle-inspection.scss';
@import 'node_modules/fh-wfm-appform/sass/appform.scss';


.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }

.workflow {
  margin-bottom: 64px; }

.workflow-actions {
  background: #fff;
  position: fixed;
  text-align: right;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }


.sidenav-header{
  color: $white-text-color;
  background: oldlace;
  background-image:
  linear-gradient(135deg, $accent-color-1 18%, transparent 18%),
  linear-gradient(135deg, rgba(0,0,0,.2) 18%, transparent 19%),
  linear-gradient(135deg, $accent-color-3 22%, transparent 22%),
  linear-gradient(135deg, rgba(0,0,0,.2) 22%, transparent 24%),
  linear-gradient(135deg, $primary-color 35%, transparent 35%),

  linear-gradient(-45deg, $accent-color-1 10%, transparent 10%),
  linear-gradient(-45deg, rgba(0,0,0,.2) 10%, transparent 11%),
  linear-gradient(-45deg, $accent-color-3 12%, transparent 12%),
  linear-gradient(-45deg, rgba(0,0,0,.1) 12%, transparent 13%),
  linear-gradient(-45deg, $accent-color-4 20%, transparent 20%),

  linear-gradient(to bottom, $primary-color 30%, $accent-color-4);




  padding: 16px;
  border-bottom: 1px solid $divider-text-color;
  img{
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: block;
    margin-bottom: 8px;
    background: red;
  }
  p{
    color: $white-secondary-text-color;
    margin: 0;
  }
  h3{margin: 0;}

}
