$secondary-text-color: rgba(0,0,0,.54);
$divider-text-color: rgba(0,0,0,.12);

$white-text-color: rgba(255,255,255,1);
$white-secondary-text-color: rgba(255,255,255,.7);
$white-divider-color: rgba(255,255,255,.3);

$primary-color: #3F51B5;
$secondary-color: #303F9F;

$accent-color-1: #a63db8;
$accent-color-2: #4d5bb3;
$accent-color-3: #1aa094;
$accent-color-4: #283593;

$success: #388E3C;//green700
$danger: #F44336; //red 500

.success{ color: $success;}
.danger{ color: $danger;}


@import 'node_modules/fh-wfm-workorder/sass/workorder.scss';
@import 'node_modules/fh-wfm-workflow/sass/workflow.scss';
@import 'node_modules/fh-wfm-risk-assessment/sass/risk-assessment.scss';
@import 'node_modules/fh-wfm-vehicle-inspection/sass/vehicle-inspection.scss';
@import 'node_modules/fh-wfm-appform/sass/appform.scss';
@import 'node_modules/fh-wfm-component-signature/sass/signature.scss';


// Login screen ==========

.login{
  background: $primary-color;
  color: $white-text-color;
  p{
    color: $white-secondary-text-color;
    text-align: center;
  }
  h1{
    text-align: center;
  }
  input, input:focus {
    color: $white-text-color!important;
  }

  label {
      color: $white-secondary-text-color !important;
  }

  md-input-container .md-input{
    border-color: $white-divider-color;
    &:focus{
      border-color: $white-secondary-text-color;
    }
  }

  button{
    width: 100%!important;
    margin-left: 0px;
  }
}

// messages screen ==========

.messages{
  .md-list-item-text{
    position: relative;
  }
  .new{
    h3{
      font-weight: bold!important;
    }
  }
  .time-stamp{
    position: absolute;
    right: 0;
    top: 0;
    color: $secondary-text-color;
  }

  md-list-item md-divider[md-inset] {
    left: 72px;
    width: calc(100% - 72px);
  }

}


// Map screen ==========
.map{
  background: url("https://dl.dropboxusercontent.com/u/4371641/map-placeholder.png") no-repeat center center;
  background-size: cover;
}


.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }


.sidenav-header{
  position: relative;
  color: $white-text-color;
  background: oldlace;
  background-image:
  linear-gradient(135deg, $accent-color-1 18%, transparent 18%),
  linear-gradient(135deg, rgba(0,0,0,.2) 18%, transparent 19%),
  linear-gradient(135deg, $accent-color-3 22%, transparent 22%),
  linear-gradient(135deg, rgba(0,0,0,.2) 22%, transparent 24%),
  linear-gradient(135deg, $primary-color 35%, transparent 35%),
  linear-gradient(-45deg, $accent-color-1 5%, transparent 5%),
  linear-gradient(-45deg, rgba(0,0,0,.2) 5%, transparent 6%),
  linear-gradient(-45deg, $accent-color-3 7%, transparent 7%),
  linear-gradient(-45deg, rgba(0,0,0,.1) 7%, transparent 8%),
  linear-gradient(-45deg, $accent-color-4 20%, transparent 20%),
  linear-gradient(to bottom, $primary-color 30%, $accent-color-4);
  padding: 16px;
  border-bottom: 1px solid $divider-text-color;
  .md-button{
//    background: red!important;
    position: absolute;
    right: 0;
    bottom: 10px;
    md-icon{color: $white-secondary-text-color!important;}
  }
  img{
    border-radius: 50%;
    height: 64px;
    width: 64px;
    display: block;
    margin-bottom: 8px;
    background: rgba(0,0,0,.5);
  }
  p{
    color: $white-secondary-text-color;
    margin: 0;
  }
  h3{margin: 0;}

}
