<div class="panel panel-default">
  <div class="panel-heading"><h3>Address</h3></div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputAddress" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputAddress" placeholder="Address" ng-model="address.address">
        </div>
        <label for="inputCity" class="col-sm-2 control-label">City</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputCity" placeholder="City" ng-model="address.city">
        </div>
        <label for="inputState" class="col-sm-2 control-label">State/Province</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputState" placeholder="State" ng-model="address.state">
        </div>
      </div>
    </form>
    <button class="btn btn-primary" ng-click="ctrl.next($event, address)">Next</button>
  </div>
</div>
