<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.redhat.demo.wfm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>FeedHenry WFM</name>
  <description>
        A demo of the RHMAP WFM modules.
    </description>
  <author email="bleathem@gmail.com" href="http://feedhenry.com">
      Red Hat Mobile
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <allow-navigation href="*://*.mbaas2.tom.redhatmobile.com/*" />
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
