<div class="panel panel-default">
  <div class="panel-heading"><h3>Person</h3></div>
  <div class="panel-body">
    <form class="form-horizontal" name="personForm" ng-submit="ctrl.next(personForm.$valid)" novalidate>
      <div class="form-group" ng-class="{ 'has-error' : personForm.name.$invalid && !personForm.name.$pristine }">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" ng-model="ctrl.person.name" required>
          <p ng-show="personForm.name.$invalid && !personForm.name.$pristine" class="help-block">Your name is required.</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : personForm.email.$invalid && !personForm.email.$pristine }">
        <label for="inputEmail" class="col-sm-2 control-label" name="email">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="ctrl.person.email" required>
          <p ng-show="personForm.email.$invalid && !personForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="personForm.$invalid">Next</button>
    </form>
  </div>
</div>
