<!--
 CONFIDENTIAL
 Copyright 2016 Red Hat, Inc. and/or its affiliates.
 This is unpublished proprietary source code of Red Hat.
-->
<div class="workflow">
  <workflow-progress workflow="ctrl.workflow" step-index="-1"></workflow-progress>

  <workorder workorder="ctrl.workorder"></workorder>
  <div class="workflow-actions md-padding md-whiteframe-z4">
    <md-button ng-click="ctrl.begin()" class="md-primary">
      <span ng-if="ctrl.stepIndex < 0">Begin Workflow</span>
      <span ng-if="ctrl.stepIndex >= 0 && ctrl.stepIndex < ctrl.stepCount - 1">Continue Workflow</span>
      <span ng-if="ctrl.stepIndex >= ctrl.stepCount - 1">View Summary</span>
    </md-button>
  </div>
</div>
