.workorder-list-item-status {
  font-size: 65%;
  font-family: Verdana;
  float: left;
  position: absolute;
  left: 0;
  bottom: -3px;
  text-align: center;
  width: 54px;
}

.workorder-item-details {
  .work-location, .work-title, .target-finish {
    background: #387ef5;
    color: white;
  }

  .target-finish {
    dl {
      margin: 0;
      font-size: 75%;
    }
  }

  .work-summary {
    background: #f8f8f8;
    white-space: normal;

    .heading {
      h3 {
        font-weight: bold;
        font-size: 120%;
        font-variant: small-caps;
      }
    }
  }
}
